table.table-fix > thead tr > th::-moz-selection {
    background: transparent;
}

table.table-fix > thead tr > th::selection {
    background: transparent;
}

table.table-fix > thead tr > th i.zmdi {
    display: none;
    font-size: 22px;
    position: relative;
    margin-right: 10px;
    top: 3px;
    line-height: 10px;
}

table.table-fix > thead tr > th[data-sort="asc"] i.zmdi-sort-asc {
    display: initial;
}

table.table-fix > thead tr > th[data-sort="desc"] i.zmdi-sort-desc {
    display: initial;
}

.inline-edit-button {
    display: none;
}

.inlineEditButton:hover .inline-edit-button  {
    display: block;
}

.chosen-drop {
    min-width: 200px;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: black;
    z-index: 20;
    display: none;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -80px;
    margin-top: -12px;
    z-index: 21;
    display: none;
}

.show-loading .shadow {
    display: block;
}
.show-loading .loading {
    display: block;
}

.c-bold {
    font-weight: bold;
}
#btnQuickCallReport:hover{
    cursor: pointer;
}
