div.formError {
    left: initial !important;
    right: 0 !important;
}

.select2-container, .select2-drop, .select2-search, .select2-search input {
    width: 100%;
    min-height: 35px;
    border-radius: 1px; 
}

.select2-container-multi .select2-choices {
    border: 1px solid #ccc;
}

.select2-container-multi .select2-choices .select2-search-choice{
    margin: 5px 0 5px 5px;
    line-height: 15px;
}