form#update-ticket .form-control, form#update-ticket .filter-option.pull-left {
    color: #2371f2;
}

.w-p-12-5 {
    width: 12.5%;
}

.panel > .panel-collapse > .panel-body {
    height: 345px;
}

#update-ticket .panel-group .panel {
    border: none;
}

#tab-old-ticket .right-side {
    display: none;
}

#tab-old-ticket table th {
    background: #F3F3F3;
}

.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left {
    border-right: 1px solid #ddd;
}

.tabs-right {
    border-left: 1px solid #ddd;
}

.tabs-left > li, .tabs-right > li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left > li {
    margin-right: -1px;
}

.tabs-right > li {
    margin-left: -1px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}

.tabs-left > li > a {
    margin-right: 0;
    display: block;
}

.tabs-right > li > a {
    margin-right: 0;
}

.sideways {
    margin-top: 50px;
    border: none;
    position: relative;
}

.sideways > li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
}

.sideways > li > a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
}

.sideways > li.active > a,
.sideways > li.active > a:hover,
.sideways > li.active > a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
}

.sideways.tabs-left {
    left: -50px;
}

.sideways.tabs-right {
    right: -50px;
}

.sideways.tabs-right > li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sideways.tabs-left > li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.assignLeaders {
    font-weight: bold;
    font-style: italic;
}

.formError {
    display: block !important;
    top: 10px;
}

.validate-select-picker > .formError {
    right: 0px !important;
    top: 0px !important;
    left: inherit !important;
}

.validate-select-picker {
    position: relative !important;
}

.assignOption {
    margin-left: 30px;
}

html {
    margin-right: 0px !important;
}

/* quan ly pheiu khieu nai */
.searchBox{
    margin: 15px;
    border: 1px solid black;
}
.title{
    background-color: rgb(70, 70, 69);
    padding-bottom: 5px;
    padding-left: 20px;
    margin-top: 0;
    padding-top: 5px;
}