#tbl-agent-monitor tr.offline {
    background-color: whitesmoke;
    pointer-events: none;
}

#tbl-agent-monitor td.offline .dropdown-toggle {
    background-color: red !important;
    color: white
}

.form-control.disabled {
    background: #e6e6e6;
}