<style>
    .modal {
        overflow: auto !important;
    }
</style>
<!-- Modal -->
<div class="modal fade popupModal" id="userRestaurantPopup" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >

        <!-- Modal content-->
        <div class="modal-content">

            <form id="frm-add-user">


                <div class="modal-header bgm-brown p-t-10 p-b-10 p-l-0 p-r-0 flex-box">
                    <div class="col-md-6">
                        <h4 class="modal-title f-12 label f-15">Add User</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn-danger" data-dismiss="modal"><i
                                class="zmdi zmdi-close"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <!-- <div class="panel-heading p-0 p-t-5">
                        <h5 class="panel-title">
                            <div class="btn-block p-10 bgm-blue-ocean c-white text-uppercase text-center">THÔNG TIN HỒ
                                SƠ
                            </div>

                        </h5>

                    </div> -->

                    <div class="row m-0 m-t-20" id="urInfor">
                        <!-- <div class="form-group col-md-12 m-b-20">
                            <label for="group" class="col-sm-4 control-label">Nhãn hiệu</label>
                            <div class="p-0 col-sm-8">
                                <div class="input-group col-md-6" style="width: 100%">
                                    <select name="brand" class="selectpicker input" title="-- Chọn --"
                                        id="doi_tuong_tu_van">
                                      

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-b-20">
                            <label for="group" class="col-sm-4 control-label">Tỉnh thành</label>
                            <div class="p-0 col-sm-8">
                                <div class="input-group col-md-6" style="width: 100%">
                                    <select name="province" class="selectpicker input" title="-- Chọn --"
                                        id="doi_tuong_tu_van">
                                        <option>-- Chọn --</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-b-20">
                            <label for="group" class="col-sm-4 control-label">Nhà hàng</label>
                            <div class="p-0 col-sm-8">
                                <div class="input-group col-md-6" style="width: 100%">
                                    <select name="restaurant" class="selectpicker input" title="-- Chọn --"
                                        id="doi_tuong_tu_van">
                                        <option>-- Chọn --</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-b-20">
                            <label for="group" class="col-sm-4 control-label">User</label>
                            <div class="p-0 col-sm-8">
                                <div class="input-group col-md-6" style="width: 100%">
                                    <select name="agent" class="selectpicker input" title="-- Chọn --"
                                        id="doi_tuong_tu_van">
                                        <option>-- Chọn --</option>

                                    </select>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div id="loaderIframeAdvisoryEdit" class="box-loading" style="height:505px;display: block">
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                    </div> -->
                </div>


                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary f-12 btn-save waves-effect" id="btnSaveAdd" data-id=""
                        data-type="" data-target="#frm-add-user"><i class="zmdi zmdi-check-all m-r-5"></i>Lưu</button>

                </div>

            </form>
        </div>
    </div>
</div>