.container-fluid {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-box-align {
  display: flex;
  align-items: center;
}

.border {
  border: 1px solid silver;
}

.overflow-scroll {
  max-height: 150px !important;
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.full-width {
  width: 100% !important;
}

.set-w {
  width: 80% !important;
}

.set-p {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.bgm-silver {
  background-color: silver !important;
}

.bgm-confix-header {
  background-color: #346d92 !important;
}

.bgm-btn-search {
  background-color: #38a33e !important;
}

.border-radius {
  border-radius: 2px;
}

.bgm-create {
  background-color: #2e6bb9 !important;
}

.box-shadow {
  -webkit-box-shadow: 5px 5px 10px 0px rgba(171, 171, 171, 1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(171, 171, 171, 1);
  box-shadow: 1px 0px 7px 0px rgba(171, 171, 171, 1);
}

/* start box chat */

.col-md-2,
.col-md-10 {
  padding: 0;
}
/* .panel{
    margin-bottom: 0px;
  width:100%;
  } */
.chat-window {
  bottom: 14px;
  position: fixed;
  float: right;
  margin-left: 10px;
  right: 0;
}
.chat-window > div > .panel {
  border-radius: 5px 5px 0 0;
}
.icon_minim {
  padding: 2px 10px;
}
.msg_container_base {
  background: #f9fefd;
  margin: 0;
  padding: 0;
  max-height: 571px;
  overflow-x: hidden;
}
.top-bar {
  background: #666;
  color: white;
  background-color: #5aafc8 !important;
  padding: 3px;
  position: relative;
  overflow: hidden;
}
.msg_receive {
  padding-left: 0;
  margin-left: 0;
  background-color: #ffe8b1 !important;
}
.msg_sent {
  padding-bottom: 20px !important;
  margin-right: 0;
  background-color: #ebf3f2 !important;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  height: auto;
}
.messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0;
}
.messages > time {
  font-size: 11px;
  color: #ccc;
}
.msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}
/* img {
    display: block;
    width: 100%;
  } */
.avatar {
  position: relative;
}
.base_receive > .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid #fff;
  border-left-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(black, 0.2);
}

.msg_sent > time {
  float: right;
}

.msg_container_base {
  padding: 0px !important;
}

.msg_container_base::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.msg_container_base::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.msg_container_base::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.btn-group.dropup {
  position: fixed;
  left: 0px;
  bottom: 0;
}

.panel-footer {
  padding: 0px !important;
}

.chat_box {
  float: left !important;
  width: 85% !important;
  border: none;
  border-radius: 0px;
}

.chat_area {
  bottom: 0;
  height: 40px;
  float: left !important;
  width: 88% !important;
  position: absolute;
  background: #fff !important;
}

.chat_box:focus,
#btn-chat:focus {
  outline: none !important;
}
.base_sent {
  margin: 4px;
}
.base_receive {
  margin: 4px;
}

/* end box chat */
/* tab list */
.tabList {
  background-color: #5aafc8 !important;
}
.tabList > li.active,
.tabList > li.active > a,
.tabList > li.active > a:hover {
  background-color: #f07127 !important;
}
.tabList > li.active > a:focus {
  background-color: #f07127 !important;
}

.right-side {
  background-color: #f9fefd;
  border: 1px solid #dcdcdc;
  text-transform: capitalize;
}
.left-side {
  border: 1px solid #dcdcdc;
  text-transform: capitalize;
}

.title {
  color: white;
  background-color: #3f8498 !important;
  padding: 1px;
  position: relative;
  overflow: hidden;
  margin-top: 5px;
}
/* start modal */
#modal-form-box-chat {
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 0 !important;
}

#modal-form-box-chat:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#modal-form-box-chat .modal-header {
  border-bottom: 1px solid #576268;
  padding: 15px 15px;
}

#modal-form-box-chat .modal-title {
  text-transform: uppercase;
  font-weight: 600;
}

#modal-form-box-chat .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#modal-form-box-chat .modal-body .form-group .control-label {
  text-align: right;
  padding-bottom: 15px;
}
/* end modal */
