.history-view {
    position: absolute;
    width: 660px;
    height: 446px;
    top: 35px;
    right: 14px;
    background-color: #FFF;
    z-index: 1;
    display: none;
    border: 1px solid #c6c6c6;
    border-radius: 0 0 4px 4px;
}

#tabs ul {
    width: 70%;
}

.popup-top #tabs ul {
    width: 100%;
}

#tabs ul, .viewhistory-top {
    position: relative;
    float: left;
}

#tabs ul, .popup-top {
    position: relative;
    float: left;
}


#tabs ul li.ui-tabs-active {
    background: #FFF;
    border-bottom: 5px #da4a38 solid;
    margin-top: 0;
}

#tabs ul li a {
    padding: 0 24px;
    border-right: 1px #c6c6c6 solid;
    line-height: 37px;
}

#tabs ul li a, .table td a.his {
    color: #4a4a4a;
}

.content-tab {
    position: relative;
    float: left;
    width: 100%;
}

.content-info {
    padding-top: 50px;
}