ul.list-result-filter {
    max-height: 300px !important;
    overflow-y: auto;
}
.validate-message{
    display: none !important;
}

.validate-message.active{
    display: block !important;
}

.edit{
    padding: 5px;
    cursor: pointer;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.redirect-manager:hover{
    background-color: #74b23b;
    cursor: pointer;
}

.view-news,
.edit-news{
    cursor: pointer;
}
