/*.formError.dialog_companyIdformError{*/

    /*left: inherit !important;*/
    /*right: 0 !important;*/
/*}*/
.formError{
    top: 0 !important;
    left: inherit !important;
    right: 0 !important;
}