.formError.queueNumberformError{
    top: inherit !important;
    left: inherit !important;
    right: 0 !important;
}
.formError.idCompanyformError{
    top: inherit !important;
    left: inherit !important;
    right: 0 !important;
}
.formError.routeCallformError{
    top: inherit !important;
    left: inherit !important;
    right: 0 !important;
}
.formError.idSkillformError{
    top: inherit !important;
    left: inherit !important;
    right: 0 !important;
}
.formError.ruleformError{
    top: inherit !important;
    left: inherit !important;
    right: 0 !important;
}
.formError.serviceTypeformError{
    top: inherit !important;
    left: inherit !important;
    right: 0 !important;
}