div.indentation {
    float: left; /* LTR */
    margin: -0.6em -0.1em -0.6em 0.08em;
    width: 30px;
    height: 39px;
    opacity: 0.5;
}

div.tree-child {
    background: url('/assets/plugins/mrblack-table/assets/tree.png') no-repeat 10px center; /* LTR */
}

div.tree-child-left {
    background: url('/assets/plugins/mrblack-table/assets/tree-left.png') no-repeat 10px center; /* LTR */
}

div.tree-child-horizontal {
    background: url('/assets/plugins/mrblack-table/assets/tree.png') no-repeat -10px center;
}

div.tree-child-last {
    background: url('/assets/plugins/mrblack-table/assets/tree-bottom.png') no-repeat 10px center; /* LTR */
}

tr td:first-child {
    color: #2371f2;
}

tr:last-child td:first-child div:first-child {
    background: none;
}

.nobg {
    background: none !important;
}

#menu-trigger[data-trigger="#sidebar"], #auth-l {
    display: none;
}
/*tr td:last-child div:first-child {*/
/*background: url('/assets/plugins/mrblack-table/assets/tree-bottom.png') no-repeat 10px center; !* LTR *!*/
/*}*/
