<%-breadcrumb%>
<div class="card">
    <div class="card-header">
        <h2 class="m-b-5"><%- title %></h2>
        <small class="text-muted"><i>Những trường có dấu <span class="c-red">*</span> là bắt buộc nhập.</i></small>
    </div>
    <div class="card-body card-padding">
        <form role="form" class="form-horizontal" id="add-new-template">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label" id="txt_template_name">Tên <span class="c-red">*</span></label>

                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" class="form-control validate[required]" id="name"
                               maxlength="60"
                               name="name" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="companyId" class="col-sm-3 control-label"><span id="txt_template_company"> Công ty</span>
                    </label>

                <div class="col-sm-6">
                    <div class="p-relative">
                        <select class="selectpicker validate[required]" id="companyId" name="companyId">
                            <option value='-1' disabled selected>---- Chọn ----</option>
                            <% companies.forEach(function(c, i){ %>
                            <option value="<%= c._id %>"> <%= c.name %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="channelId" class="col-sm-3 control-label"><span id="txt_template_channel"> Channel</span>
                    <span class="c-red">*</span></label>

                <div class="col-sm-6">
                    <select class="selectpicker validate[required]" id="channelId" name="channelId">
                        <option value='' disabled selected>---- Chọn ----</option>
                    </select>
                </div>
                <!--<button id="btnRemoveCategory" style="float:left" class="btn btn-default" type="button"><i class="zmdi zmdi-minus"></i></button>-->
            </div>

            <div class="form-group">
                <label for="body" class="col-sm-3 control-label"><span
                            id="txt_template_body">Nội dung</span></label>

                <div class="col-sm-9" >
                    <div class="fg-line">
                        <textarea class="form-control" id="body" name="body"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-3 control-label"><span class="">Trạng thái</span></label>

                <div class="col-sm-6">
                    <div class="checkbox m-b-15">
                        <label>
                            <input type="checkbox" checked id="status" name="status" value="1">
                            <i class="input-helper"></i>
                            <span class="p-l-10" data-text-on="Không kích hoạt" data-text-off="Kích hoạt"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="col-sm-offset-3 col-sm-10">
                    <a class="btn btn-default btn-icon-text m-t-10 m-r-10 waves-effect waves-effect" id="btn-back"
                       name="btn-back" href="/#chat-template"><i class="m-r-5 zmdi zmdi-arrow-left"></i>Quay lại</a>
                    <button id="btn-submit" type="submit" class="btn btn-primary btn-icon-text m-t-10 waves-effect"><i
                                class="m-r-5 zmdi zmdi-plus-circle-o"></i>Xác nhận
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
