<%-breadcrumb%>
<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>

        <ul class="lv-actions actions">

            <li>
                <a
                   data-toggle="tooltip"
                   data-placement="top"
                   data-original-title="Làm mới danh sách">
                    <i class="zmdi zmdi-refresh"></i>
                </a>
            </li>

        </ul>
    </div>

    <div class="card-body" style="min-height: 200px">
        <table class="table table-hover table-bordered table-fix table-condensed ">
            <thead>
            <tr>
                <th class="w-50 bgm-orange c-white">
                </th>
                <th data-sort="none" sortName="name" role="button" class="text-left bgm-orange c-white filter"
                    data-original-title="Click để sắp xếp dữ liệu tăng dần/giảm dần" data-container="body"
                    data-toggle="tooltip" data-placement="top">
                    <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp tăng dần"
                       class="zmdi zmdi-sort-asc"></i>
                    <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp giảm dần"
                       class="zmdi zmdi-sort-desc"></i>
                    <span class="KPI_DATA_NAME">Tên</span>
                </th>





                <th class="w-120 text-center bgm-orange c-white KPI_ACTION"></th>
            </tr>
            </thead>


            <tbody>
            <tr id="searchForm" class="filter">
                <td class="text-center select-cell">

                </td>
                <td><input class="form-control searchColumn" type="text" id="search_name"
                           name="name"></td>



                <td>
                    <button class="btn btn-primary btn-block waves-effect" id="btn-search" name="btn-search"><i
                                class="zmdi zmdi-search"></i></button>
                </td>
            </tr>

            <% if(datas.length == 0){ %>
            <script> var datas = true;</script>
            <% } else{ %>
            <script> var datas = false;</script>
            <% datas.forEach(function(element, index) { %>
            <tr>
                <td class="select-cell text-center">

                </td>

                <td class="truncate"><%- element.name %></td>



                <td class="text-center">

                    <a class="p-t-3 btn-flat-bg" data-toggle="tooltip"
                       href="/#kpi-marking/<%=element._id%>"
                       data-placement="top" data-original-title="Chấm điểm" id="edit-collection">
                        <i class="zmdi zmdi-edit green f-17"></i>
                    </a>

                </td>
            </tr>
            <% }); %>
            <% } %>
            </tbody>
        </table>

        <% if(typeof paging !== 'undefined' && paging.pageCount > 1){ %>
        <% include('../paging.ejs') %>
        <% } %>
    </div>
</div>

