<%- breadcrumb %>
<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>
    </div>
    <div class="card-body table-responsive" style="min-height: 400px">
        <form id="ticket">
            <table class="table table-hover table-condensed table-bordered table-fix">
                <thead>
                <tr>
                    <th class="bgm-orange c-white text-center"><span class="TXT_FILENAME"></span></th>
                    <th class="bgm-orange c-white text-center"><span class="TXT_CREAT"></span></th>
                    <th class="bgm-orange c-white text-center"><span class="TXT_ACTION"></span></th>
                </tr>
                <tr id="searchForm" class="filter">
                    <td><input class="form-control searchColumn" type="text" id="filepath" name="filepath" placeholder="Tên file" disabled></td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control pull-right date-picker searchColumn"
                                   id="createdAt" name="createdAt"
                                   placeholder="Ngày xuất">
                            <span class="input-group-addon p-l-10 bgm-gray c-white">
                                <i role="button" class="zmdi zmdi-calendar"></i></span>
                        </div>
                    </td>
                    <td><button type="button" class="btn btn-primary btn-block waves-effect" id="btn-search"><i class="zmdi zmdi-search"></i></button></td>
                </tr>
                </thead>
                <tbody id="recording-histories">

                </tbody>
            </table>
            <div class="text-center" id="count-total">
            </div>
            <div class="text-center">
                <div id="paging"></div>
            </div>
        </form>
    </div>
</div>