<div class="card">
    <div class="lv-header-alt clearfix m-b-5">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>
        <div class="lvh-search">
            <input type="text" placeholder="Start typing..." class="lvhs-input">
            <i class="lvh-search-close">×</i>
        </div>

        <ul class="lv-actions actions">
            <li><a href="/#menu-manager" data-toggle="tooltip" data-placement="top" data-original-title="Refresh"><i class="zmdi zmdi-refresh"></i></a></li>
        </ul>
    </div>
    <div class="card-body">
        <form id="tbl-menu">
            <table id="my-table" class="table table-bordered table-fix table-hover m-b-30">
                <thead>
                <tr>
                    <th class="bgm-orange c-white p-l-30">Tiêu đề</th> 
                    <th class="bgm-orange c-white w-100 text-center hidden">Order</th>
                    <th class="bgm-orange c-white w-200 text-center">Parent</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </form>
    </div>
</div>
