.container-fluid {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-box-align {
  display: flex;
  align-items: center;
}

.border {
  border: 1px solid silver;
}

.overflow-scroll {
  max-height: 150px !important;
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.full-width {
  width: 100% !important;
}

.set-w {
  width: 80% !important;
}

.set-p {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.bgm-silver {
  background-color: silver !important;
}

.bgm-confix-header {
  background-color: #346d92 !important;
}

.bgm-btn-search {
  background-color: #38a33e !important;
}

.border-radius {
  border-radius: 2px;
}

.bgm-create {
  background-color: #2e6bb9 !important
}