.container-fluid {
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-box-align {
    display: flex;
    align-items: center;
}

.border {
    border: 1px solid silver;
}

.overflow-scroll {
    max-height: 150px !important;
    overflow: auto !important;
}

.overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.full-width {
    width: 100% !important;
}

.set-w {
    width: 80% !important;
}

.set-p {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.bgm-silver {
    background-color: silver !important;
}

.bgm-confix-header {
    background-color: #346d92 !important;
}

.bgm-btn-search {
    background-color: #38a33e !important;
}

.border-radius {
    border-radius: 2px;
}

.bgm-create {
    background-color: #2e6bb9 !important
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.b-b {
    border-bottom: 1px solid white;
}

#showHideFields {
    overflow-y: auto;
    /* height: 300px; */
    width: auto;
}

.bgm-showFields {
    background-color: #124452c9 !important;
}

.checkbox .input-helper:after {
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.dp-block {
    display: block;
    margin: 0
}

.box-shadow {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(171, 171, 171, 1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(171, 171, 171, 1);
    box-shadow: 1px 0px 7px 0px rgba(171, 171, 171, 1);
}

.box-shadow1 {
    -webkit-box-shadow: 5px 0px 10px 0px rgba(171, 171, 171, 1);
    -moz-box-shadow: 5px 0px 10px 0px rgba(171, 171, 171, 1);
    box-shadow: 1px 0px 7px 0px rgba(171, 171, 171, 1);
}