.formError.idServiceAddressformError{
    top: inherit !important;
    left: inherit !important;
    right: -69px !important;
}
.formError.idCompanyformError{
    top: inherit !important;
    left: inherit !important;
    right: -69px !important;
}
.formError.idChannelformError{
    top: inherit !important;
    left: inherit !important;
    right: -69px !important;
}
.formError.routeChatformError{
    top: inherit !important;
    left: inherit !important;
    right: -69px !important;
}
.formError.idSkillformError{
    top: inherit !important;
    left: inherit !important;
    right: -69px !important;
}