.idProfileformError{
    top: 0 !important;
    right: 0!important;
    left: inherit !important;
}
.idProfileChatformError{
    top: 0 !important;
    right: 0!important;
    left: inherit !important;
}
.agentStatusformError{
    top: 0 !important;
    right: 0!important;
    left: inherit !important;
}
.leadersformError{
    top: 0 !important;
    right: 0!important;
    left: inherit !important;
}
.membersformError{
    top: 0 !important;
    right: 0!important;
    left: inherit !important;
}